# Configuration for deploy mode, commit message with /(build and deloy docs)/
# 1. Build documents and upload HTML files to AppVeyor's storage
# 2. Upload to thainlp.org/pythainlp/docs/<branch>

#---------------------------------#
#      general configuration      #
#---------------------------------#

branches:
  only:
    - /2.*/
    - dev

only_commits:
  message: /(build and deploy docs)/

#---------------------------------#
#    environment configuration    #
#---------------------------------#

image: ubuntu1804

# fetch repository as zip archive
# https://www.appveyor.com/docs/how-to/repository-shallow-clone/
shallow_clone: true

matrix:
  fast_finish: true

cache:
  - '~/.cache/pip'
  - '~/nltk_data'
#  - '~/pythainlp-data'

install:
  - sudo apt-get update
  - sudo apt-get install -y pandoc libicu-dev python3-pip
  - sudo pip3 install --upgrade pip
  - python -V
  - python3 -V
  - pip -V
  - pip3 -V
  - export LD_LIBRARY_PATH=/usr/local/lib
  - sudo pip3 install --ignore-installed -U PyYAML
  - sudo pip3 install -r requirements.txt
  - sudo pip3 install torch==1.3.1+cpu -f https://download.pytorch.org/whl/torch_stable.html
  - sudo pip3 install -U emoji epitran gensim numpy pandas pyicu sklearn-crfsuite ssg
  - sudo pip3 install -U attacut
  - sudo pip3 install deepcut
  - sudo pip3 install -U boto smart_open sphinx sphinx-rtd-theme

#---------------------------------#
#       build configuration       #
#---------------------------------#

build_script:
  - cd ./docs
  - export CURRENT_BRANCH=$APPVEYOR_REPO_BRANCH
  - export RELEASE=$(git describe --tags --always)
  - export RELEASE=$(echo $RELEASE | cut -d'-' -f1)
  - export TODAY=$(date +'%Y-%m-%d')
  - make html
  - echo "Done building HTML files for the branch '$CURRENT_BRANCH'"
  - echo "Start cleaning the directory '/docs/$CURRENT_BRANCH'"
  - sudo bash ./clean_directory.sh $FTP_USER $FTP_PASSWORD $FTP_HOST $CURRENT_BRANCH
  - echo "Start uploading files from './build/html'"
  - echo "to 'thainlp.org/pythainlp/docs/$CURRENT_BRANCH'"
  - cd ./_build/html
  - find . -type f -name "*" -print -exec curl --ftp-create-dir --ipv4 -T {} ftp://${FTP_USER}:${FTP_PASSWORD}@${FTP_HOST}/public_html/pythainlp/docs/$CURRENT_BRANCH/{} \;
  - echo "Done uploading."
  - echo "Files uploaded to 'thainlp.org/pythainlp/docs/$CURRENT_BRANCH'"

artifacts:
  - path: ./docs/_build/html
    name: document

after_build:
  - echo "Done build and deploy."
  - appveyor exit

#---------------------------------#
#       tests configuration       #
#---------------------------------#

test: off
