PyYAML==5.4.1
attacut==1.0.6
bpemb==0.3.4
deepcut==0.7.0.0
emoji==0.5.4
epitran==1.9
esupar==1.3.9
fairseq==0.10.2
fastai==1.0.61
fastcoref==2.1.6
gensim==4.3.2
h5py==3.1.0
khanaa==0.0.6
nlpo3==1.3.0
nltk==3.6.6
numpy==1.22.*
OSKut==1.3
pandas==1.4.*
panphon==0.20.0
phunspell==0.1.6
protobuf==3.20.3
pyicu==2.8
python-crfsuite==0.9.9
requests==2.31.*
sacremoses==0.0.41
sefr_cut==1.1
sentence-transformers==2.2.2
sentencepiece==0.1.99
spacy_thai==0.7.1
spacy==3.5.*
spylls==0.1.5
ssg==0.0.8
symspellpy==6.7.7
tensorflow==2.13.1
thai-nner==0.3
tltk==1.6.8
torch==1.13.1
transformers==4.36.0
ufal.chu-liu-edmonds==1.0.2
wtpsplit==1.0.1
wunsen==0.0.3
